@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", serif;
  overflow-x: hidden;
  background: #fff;
  color: #000;
}
