.footer {
  background: #1d2636;
  color: var(--text-white);
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.footer-details img {
  width: 150px;
}
.footer-details h2 {
  font-weight: 500;
  margin-top: 20px;
}
.footer-details p {
  margin: 20px 0;
  color: gray;
  width: 80%;
}

.footer-details .form-group {
  border: none;
  padding: 0;
}

.footer-details input {
  width: 100%;
  margin-top: 0;
}

.footer-links {
  place-items: center;
  gap: 30px;
}

.links h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.links li {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: gray;
}

.legal {
  background: #1d2636;
  padding: 20px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
}

@media (max-width: 999px) {
  .footer .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .footer-details input {
    width: 50%;
  }
  .footer-links {
    place-items: start;
  }
}

@media (max-width: 550px) {
  .footer-details input {
    width: 100%;
  }
  .footer-links {
    grid-template-columns: 1fr !important;
  }
}
